/*colores*/
$title-color:#92193e;
$white-color:#ffffff;
$babygrey-color:#9E9E9E;
$softpink-color:#E9B9BF;
$softgray-color:#414141;
$softpeach-color:#FECEAA;
$softpurple-color:#886a94;
$purple-color:#5E4386;
$softorange-color:#FFC68D;
$reallypink-color:#fda0a1;
/*colores*/