/*colores*/
$background-color:#F4EEEE;
$title-color:#92193e;
$white-color:#ffffff;
$babygrey-color:#9E9E9E;
$softpink-color:#E9B9BF;
$softgray-color:#414141;
$softpeach-color:#FECEAA;
$softpurple-color:#886a94;
$purple-color:#5E4386;
$softorange-color:#FFC68D;
$reallypink-color:#fda0a1;
$peachypink-color:#ECCBD1;
$blinker-color:#fe7bbb;
/*colores*/

/*Fuentes*/
$capsule-font-size:1.2em;
$big-font-size:2em;
/*Fuentes*/

/*tamaño pixeles*/
$fifty-px:50px;
/*tamaño pixeles*/