@import 'variables';
@import 'fuentes';

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
  outline: none;
}
html{
    scroll-behavior: smooth;
}

body {
  font-family: $main-font;
  background-color: $background-color;
  overflow-x:hidden;
} 

/* Menu */ 
/**************************/
#navMain {
  position: relative;
  width: 100%;
  margin: 0 auto;
	font-family:$main-font; 
}

#navMain ul,
#navMain li,
#navMain a {
  position: relative;
  list-style:none;
  text-decoration: none;
}
#navMain ul li a {
  display: block;
  color: #928C90;
  padding: 10px 10px;
  position: relative;
}

#navMain > ul {
  position: relative;
  margin: 0 auto;
}
#navMain > ul > li > a {
  height:100%;
  background: $peachypink-color;
}

#navMain li > a:hover,
#navMain li > a:focus {
  background: $white-color !important;
}

#navMain .hasSub:after {
  position: absolute;
  content: "\25BC";
  display: block;
  font-size: 0.7em;
  color: $white-color;
  top: 14px;
  right: 10px;
  cursor: pointer;

  transform: rotate(0deg);
  transition: transform 0.5s;
}
#navMain .hasSub.open:after {
  transform: rotate(180deg);
  transition: transform 0.5s;
}

/* Menu BURGER (responsive) */
#menuBurger {
  display: none; 
}
#menuBurger ~ label {
  display: none;
  z-index:2;
  position:absolute;
  right:0;
  top:0;
  cursor: pointer;
  vertical-align: top;
  background: $peachypink-color;
  width: 38px;
  height: 38px;
}
#menuBurger ~ label::before {
  content: "";
  margin: 6px auto;
  width: 24px;
  height: 5px;
  background: $softgray-color;
  box-shadow: 0 10px 0 0 $softgray-color, 0 20px 0 0 $softgray-color;
}
#menuBurger ~ label::after {
  display: none;
  content: "\2716"; 
  font-weight: 900;
  margin: auto;
  font-size: 26px;
  color: $softgray-color;
}
#menuBurger:checked ~ label::after {
  display: block;
}
#menuBurger:checked ~ label::before {
  display: none;
}

a{
  font-size: $capsule-font-size;
  color: $title-color !important; 
}

.menu__capsule{
  font-size: $capsule-font-size;
  padding: 20px 0;
  border-bottom-right-radius: $fifty-px;
  border-top-right-radius: $fifty-px;
  color: $title-color !important; 
}

.store{
  background-color: $peachypink-color;
  width: 225px;
}

.presents{
  background-color: $softpeach-color;
  width: 200px;
}

.faq{
  background-color: $peachypink-color;
  width: 175px;
}

.contact{
  background-color: $softpink-color;
  width: 150px;
}

.main-text{
  font-family: $second-font;
  color: $title-color;
}

.description_title{
  font-family: $second-font;
  color: $title-color;
  font-size: $middle-font;
}

.description_text{
font-size: 1.1em;
color: $title-color;
}

.preference_img{
  max-width: 150px;
}

.fas{
  color: $title-color;
  font-size: $middle-font;
  cursor: pointer;
}

.fas:hover{
  color: $softpurple-color;
  font-size: $middle-font;
  cursor: pointer;
} 

.logo-img{
width: 30vh;
}

.delivery img{
  min-height: 3em;
}
/**/

.blink{
  color: $blinker-color;
  font-size: $big-font-size;
	text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 0.6s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-direction: alternate;
}

@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}
/**/

/*contacto*/
.contact-form{
  background-color: $white-color;
  padding: 100px;
  font-size: 1.1em;
  border-radius: $fifty-px;
  -webkit-box-shadow: 0px 5px 9px 3px $babygrey-color; 
  box-shadow: 0px 5px 20px 3px $babygrey-color;
}

.btn-send{
  background-color: $purple-color;
  color: $softpeach-color;
  padding: 10px 40px;
  border-radius: 20px;
  font-size: 1.1em;
  border:none;
}

.btn-send:hover{
  background-color: $softpeach-color;
  color: $purple-color;
  padding: 10px 40px;
  border-radius: 20px;
  font-size: 1.1em;
  border:none;
}
/*fin contacto*/

/*boutique*/
.boutique__secondmenu a{
  color: $title-color;
}

.boutique__menu{
  margin: $fifty-px;
  max-height: 500px;
}

.boutique__product {
  background-color: $purple-color;
  color: $softpeach-color !important;
  border-radius: $fifty-px;
  font-size: $capsule-font-size;
  border:none;
}

.boutique__product:hover {
  background-color: $softpink-color;
  color: $title-color!important;
  border-radius: $fifty-px;
  font-size: $capsule-font-size;
  border:none;
  text-decoration: none;
}

.food_item {
	background: $white-color;
	border-radius: 18pt;
}

/**/

/*macarons*/
.product_img img{
 width: 10% !important;
}

.food__card{
  background-color: $white-color;
  border-radius: 20px;

}

.food__card:hover{
-webkit-box-shadow: 0px 5px 9px 3px $babygrey-color; 
box-shadow: 0px 5px 20px 3px $babygrey-color;
}

.food__card img{
max-width: 80%;
}

.food__heart{
  cursor: pointer;
  font-size: $middle-font;
  color: $softgray-color;
  padding: 10px;
  border-radius: $fifty-px;
  border: $softpink-color 2px solid;
}

.food__bag{
  cursor: pointer;
  font-size: $middle-font;
  color: $softgray-color;
  padding: 10px;
  border-radius: $fifty-px;
  border: $softpeach-color 2px solid;
}

.food__heart:hover{
  color: $softgray-color;
  background-color: $softpink-color;
}

.food__bag:hover{
  color: $softgray-color;
  background-color: $softpeach-color;
}

.price__tag{
  font-weight: 800;
  color: $title-color;
  background-color: $softorange-color;
  border-radius: $fifty-px;
  padding: 10px;
}


/**/

/*regalos*/
.container-gift {
  max-width: 30px;
  display: flex;
  flex-wrap: wrap;
  margin: 5rem;
}
.item {
  margin: 1rem;
}

/**/

/*faq*/
.faq-header{
  font-size: $big-font-size;
  border-bottom: 1px dotted $title-color;
  padding: 24px;
}

.faq__content {
  color: $title-color;
}

.faq__question {
  padding: 20px 0;
  border-bottom: 1px dotted $title-color;
}

.panel__title {
  font-size: $middle-font;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 10px 10px 0 48px;
  display: block;
  cursor: pointer;
}

.panel__content {
  font-size: $capsule-font-size;
  padding: 0px 14px;
  margin: 0 40px;
  height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: .4s ease;
  -moz-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
}

.panel:checked ~ .panel__content{
  height: auto;
  opacity: 1;
  padding: 14px;
}

.plus {
  position: absolute;
  margin-left: 20px;
  margin-top: 4px;
  z-index: 5;
  font-size: $big-font-size;
  line-height: 100%;
  -webkit-user-select: none;    
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}

.panel:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.panel {
  display: none;
}
/**/ 

/*botón arriba*/ 
#myBtn {
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none;
  outline: none; 
  background-color: $softpeach-color;
  font-size: $capsule-font-size;
  color: $title-color; 
  cursor: pointer; 
  padding: 15px;
  border-radius: 100px;
}

#myBtn:hover {
  background-color: $babygrey-color;
	color: $title-color;
}
/**/ 

/* footer */
footer{
  background-color: $reallypink-color;
  bottom: 0;
  color: $white-color;
}

.newsletter{
  font-size: $big-font-size;
}

.map__footer img{
  border-radius: 18px;
}
/**/


/*media query*/
@media (max-width: 768px) { 
.preference_img{
width: 80px;
}

img.newsletter_cupcakes{
  width: 200px;
}
}

@media (max-width: 480px) { 

.map__footer img{
  max-width: 250px;
}
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 


  .map__footer img{
    max-width: 150px;
  }
}

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

  .map__footer img{
    max-width: 250px;
  }
}

@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2) 
    and (orientation: landscape) 
    { 

    .map__footer img{
      max-width: 250px;
    }
    }

/*Menu*/    
@media screen and (max-width: 767px) {
  #navMain > ul {
    width: 100%;
    display:none; 
  }
  #menuBurger ~ label {
    display: inline-flex;
  }
  #menuBurger:checked ~ ul {
    display:block;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
}

@media screen and (min-width: 768px) {
  #navMain > ul {
    display: flex;
    flex-wrap:nowrap;
  }
  #navMain > ul > li {
    flex: 1 1 25%;
  }
  #navMain > ul > li > ul {
    position: absolute;
    width: 100%;
    z-index: 1;
  }
}
/**/